.banner {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px;
}

.banner-container h1 {
color: white;
font-weight: 800;
font-size: 40px;
}

.banner-container p {
color: rgba(255,255,255,0.8);
font-weight: 400;
padding-top:20px;
padding-bottom: 20px;
font-size: 20px;
}
.banner-container a {
font-size: 20px;
}
