.cards-container{
text-align: center;
padding:30px;
}
.cards {
  display: flex;
  justify-content: space-around;
}

.card{
border-radius: 5px;
border: solid 1px rgba(0,0,0,0.2);
box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
width: 279px;
}

.card img {
 height: 101px;
 margin: 15px;
}

.card h3 {
 margin: 15px;
}
.card p {
 margin: 15px;
}
